.form-consulta{
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: rgb(38 , 57, 77) 0px 20px 30px -10px;
    color: black;
}
.form-div{
    margin: 0px;
    
}

.form-label{
    color: rgb(55, 65, 81);
    font-weight: 700;
    font-size: 14px;

    line-height: 20px;
}

.form-input{
    border: 1px solid rgb(143, 143, 143);
    border-width: 1px;
    width: 95%;
    color: black;
    cursor: pointer;
}

.form-registrar{
    cursor: pointer;
    margin-top: 15px;
    background-color: rgb(49, 49, 231);
    color: white;
    width:100%;
    text-transform: uppercase;
    font-weight: 700;
}


@media (min-width: 768px) {
    .form-consulta{
        width: 50%;
    }
}
