@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Patrick+Hand&family=Quicksand:wght@300&family=Roboto:wght@900&family=Zen+Loop&display=swap');


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.outlet {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px 0px 15px 5px rgb(202, 202, 202);
}

form {
    border-radius: 10px;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

label {
    margin-top: 15px;
    display: block;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

input {
    width: 95%;
    margin-top: 3px;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

.iniciar {
    margin-top: 35px;
    background-color: #25DBAB;
    width: 65%;
    height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: 0px solid white !important;
}

.consulta-div {
    margin-top: 40px;
    border-radius: 8px;
}

.consulta-p {
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.previewConsulta-div {
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.previewConsulta-p {
    flex: 1 1 0%;

}

.obtener-consulta-div {

    justify-content: space-between;
}

.obtener-consulta-h2 {
    font-family: 'Roboto', sans-serif;

}

.obtener-consulta-p-label {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.obtener-consulta-p {
    font-family: 'Roboto', sans-serif;
    color: rgb(48, 48, 49);
}

.obtener-consulta-div-mix {
    width: 50%;
    margin: 5px;
    padding: 15px;
    background-color: rgb(206, 203, 203);
    border-radius: 8px;
    border: 1px solid rgb(77, 76, 76);
}

.linkNav {
    margin: 25px 15px 5px 15px;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}


.error {
    width: 60%;
    height: 20px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 6px;
    margin: auto;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.aler {
    background-color: rgb(59, 78, 163);
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

@media (min-width: 400px) {
    .container {
        max-width: 70%;
        margin-top: 50px
    }
}



@media (min-width: 640px) {
    .container {
        max-width: 60%;
        margin-top: 80px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 45%;
        margin-top: 80px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 40%;
        margin-top: 80px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 35%;
        margin-top: 80px
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
        margin-top: 80px
    }
}



@media (min-width: 768px) {
    .container {
        margin-top: 80px;
        justify-content: center;
    }
}